/* header */
.selected {
  text-decoration: underline !important;
  color: $green !important;
  &:hover {
    color: #fff !important;
  }
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}

.header h1 {
	margin: 0;
}

.header-wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  height: 56px;
  @include mq(tablet){
    height: 90px;
  }
}

header img {
  width: 100%;
  height: auto; 
  float: left;
  display: inline-block;
}


.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  line-height: 100%;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-weight: 900;
  color: $darkgrey;
  text-transform: uppercase;  
  letter-spacing: .02rem;
  letter-spacing: 2px; 
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: $green;
  color: #fff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 0;
  max-width: 200px;
  width: 100%;
  height: auto; 
  float: left;
  display: inline-block;
  @include mq(tablet){
    padding: 20px 0;
    max-width: 300px;
  }
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  margin-top: 8px;
  box-shadow: rgba(0, 0, 0, 0.33) 0px 25px 25px;
  @include mq(desktop){
      margin-top: 15px; 
      box-shadow: none;
  }
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 5px 10px;
  position: relative;
  user-select: none;
  margin: 10px;
  border: 1px solid $orange;
  @include mq(tablet){
    margin-top: 25px;
  }
}

.header-wrapper label {
}

.header .menu-icon .navicon {
  background: #333;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  bottom: 5px;
}

.header .menu li:nth-child(1) {
  margin-top: 0;
  @include mq(tablet){
   margin-top: 8px;
  }
  @include mq(desktop){
   margin-top: 0;
  }
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
      max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 1024px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 20px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}