$orange: #faa918;
$lightgrey: #bbbbbb;
$mediumgrey: #515151;
$darkgrey: #302f30;
$white: #fff;
$green: #5ac1a0;
$greenlink: #049634;
$teal: #2aa1a1;

body {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
	font-family: 'Roboto Slab', serif;
}